<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id = "kblogo" class="navbar-brand" href="#">
          <img alt="Killbase" src="comps.png">
        </a>
      </div>
    </div>
  </nav>