<html>
<head>
<link rel="stylesheet" href="/styles.css">
<div class="header">
    <a href="/"><img class="logo-img" src="/kblogo.png" width="300" height="100" alt="Killbase Logo"></a>
    <nav>
        <ul>
            <li><a href="/assassins">Assassins</a></li>
            <li><a href="/contracts">Contracts</a></li>
        </ul>
    </nav>
</div>
</head>