
  
<% include /Users/blythiemae/Galvanize/labs_Q2/killbase-app/views/header.ejs %>
<body>
    

<form class="form-horizontal" action="/assassins/posted" method = "post">
        <fieldset>
        
        <!-- Form Name -->
        <legend>New Assassin</legend>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="full_name">Full Name</label>  
          <div class="col-md-4">
          <input id="full_name" name="full_name" type="text" placeholder="Enter Name" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="code_names">Code Names</label>  
          <div class="col-md-4">
          <input id="code_names" name="code_names" type="text" placeholder="Enter Code Names" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="weapon">Weapon</label>  
          <div class="col-md-4">
          <input id="weapon" name="weapon" type="text" placeholder="Hands/Ninja Stars..." class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="contact_info">Contact Info</label>  
          <div class="col-md-4">
          <input id="contact_info" name="contact_info" type="text" placeholder="Fake info only please..." class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="age">Age</label>  
          <div class="col-md-4">
          <input id="age" name="age" type="text" placeholder="Enter Age" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="price">Minimum Price</label>  
          <div class="col-md-4">
          <input id="price" name="price" type="text" placeholder="Enter Minimum Price" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="rating">Rating</label>  
          <div class="col-md-4">
          <input id="rating" name="rating" type="text" placeholder="Enter Rating" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="kills">No. of Kills</label>  
          <div class="col-md-4">
          <input id="kills" name="kills" type="text" placeholder="Enter Number of Kills" class="form-control input-md">
          <span class="help-block">help</span>  
          </div>
        </div>
        
        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="newassassin"></label>
          <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
        
        </fieldset>
        </form>
    </body>


</html>