<% include /Users/blythiemae/Galvanize/labs_Q2/killbase-app/views/header.ejs %>
<body>

<form action='/assassin/update' method = "POST">

    <div class="form-group">
            <label for="assassin_id" >Id</label>
            <input name = "assassin_id" require = "true" class="form-control" id="full_name" placeholder="Enter Name">
          </div>

        <div class="form-group">
          <label for="full_name" >Full Name</label>
          <input name = "full_name" type="text" require = "true" class="form-control" id="full_name" placeholder="Enter Name">
        </div>

        <div class="form-group">
                <label for="photo">Code Names</label>
                <input name = "photo" type="text" require = "true" class="form-control" id="photo" placeholder="Enter Code Names">
              </div>
        
        <div class="form-group">
          <label for="code_names">Code Names</label>
          <input name = "code_names" type="text" require = "true" class="form-control" id="code_names" placeholder="Enter Code Names">
        </div>

        <div class="form-group">
            <label for="weapon">Weapon</label>
            <input name = "weapon" type="text" required = "true" class="form-control" id="weapon" placeholder="Enter Weapon">
        </div>

        <div class="form-group">
            <label for="contact_info">Contact Info</label>
            <input name= "contact_info" type="text" required = "true" class="form-control" id="contact_info" placeholder="Enter Contact Info">
        </div>

        <div class="form-group">
            <label for="age">Age</label>
            <input name = "age" type="text" required = "true" class="form-control" id="age" placeholder="Enter Age">
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input name="price" type="text" required = "true" class="form-control" id="price" placeholder="Enter Price">
        </div>   
        
        <div class="form-group">
            <label for="rating">Rating</label>
            <input name= "rating" type="text" required = "true" class="form-control" id="rating" placeholder="Enter Rating">
        </div>

        <div class="form-group">
            <label for = "kills" >Kills</label>
            <input name = "kills" type="text" required = "true" class="form-control" id="kills" placeholder="Enter No. of Kills">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>

</body>
</html>